* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    scroll-behavior: smooth;
}

.serif {
    font-family: "Old Standard TT", serif;
}

.link {
    color: #000;
    text-decoration: none;
}

.link:hover {
    text-decoration: overline underline;
    /*font-weight: 600;*/
}

.link-section {
    padding-top: 1em;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.mobile-divider {
    width: 90%;
    border-bottom: 1px solid #4d4d4d;
}

.smooth-container {
    scroll-behavior: smooth;
}

.fakeScroll {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}

.centralContainer {
    margin: 0 auto;
    width: 100%;
    /* width: 98%; */
    max-width: 1400px;
    padding: 0 1em;
    height: 100vh;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding: 15px;
}

.desktop {
    display: block;
}

.desktop.header {
    position: fixed;
    top: 50%;
    width: 300px;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
}

.desktop > .name {
    font-size: 3rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.25em;
}

.desktop > .role {
    color: #adadad;
    font-size: 2.5rem;
    line-height: 1.25em;
    text-align: right;
}

.desktop > .nav {
    border-top: 1px solid #4d4d4d;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.desktop > .nav a {
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.desktop > .nav a:hover {
    text-decoration: overline underline;
}

.activeSection {
    text-decoration: overline underline !important;
}

.mainInfo > .name {
    font-size: 2.25rem;
    /*line-height: 60px;*/
    font-weight: 300;
}

.menuOpen {
    display: block !important;
}

.moreInfo {
    text-align: center;
    display: none;
}

.moreInfo > .role {
    color: #adadad;
    font-size: 2rem;
    line-height: 1.25em;
    text-align: left;
    padding: 0 15px;
}

.moreInfo > .nav {
    border-top: 1px solid #4d4d4d;
    font-size: 1.75rem;
    text-align: center;
    padding: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.moreInfo > .nav a {
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.moreInfo > .nav a:hover {
    text-decoration: overline underline;
}

.mainInfo {
    width: 100%;
    padding: 25px 15px 0;
    /*height: 60px;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
}

.mobile {
    display: none;
}

.mobileButton {
    background-image: url("../assets/img/menu-icon.svg");
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
}

.section {
    width: -webkit-calc(100% - 340px);
    width: calc(100% - 340px); /* - amount of left nav size + margin left */
    position: relative;
    left: 300px;
    /* height: 100%; */
    min-height: 100%;
    margin-left: 40px;
    background: #fff;
    padding: 0 1em;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none;
}

.aboutSection {
    /*transform: translateY(-100%)*/
}

.videoSection {
    padding: 0;
}

.videoContainer {
    /*padding: 3rem; */
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 2em 0;
}

.mainVideoContainer {
    /*padding: 3rem; */
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 2em 0;
    background: #000;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border: 1px solid transparent;
}

.divider {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 1px;
    background: #000;
    margin-bottom: 2em;
}

.videoSectionTitle {
    color: #adadad;
    font-size: 2.5rem;
    line-height: 1.25em;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.mainVideoContainer > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videosContainer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 1em 2em 1em;
}

.videosContainer > a {
    padding: 1em;
    -webkit-flex-basis: 316px;
    -ms-flex-preferred-size: 316px;
    flex-basis: 316px;
    text-decoration: none;
    color: #333;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
    border: transparent solid 1px;
}

.playing {
    border: #4d4d4d solid 1px !important;
}

.videosContainer > a:hover {
    text-decoration: overline underline;
}

.videosContainer > a:hover > div {
    -webkit-background-size: cover, 20%;
    background-size: cover, 20%;
}

#break_glassImg {
    background-image: url("../assets/img/break_glass.jpg"),
        url("../assets/img/play-icon.svg");
}
#reelImg {
    background-image: url("../assets/img/reel.jpg"),
        url("../assets/img/play-icon.svg");
}
#rubys_tuesdayImg {
    background-image: url("../assets/img/rubys_tuesday.jpg"),
        url("../assets/img/play-icon.svg");
}
#freakishImg {
    background-image: url("../assets/img/freakish.jpg"),
        url("../assets/img/play-icon.svg");
}
#saving_graceImg {
    background-image: url("../assets/img/saving_grace.jpg"),
        url("../assets/img/play-icon.svg");
}
#madam_secretaryImg {
    background-image: url("../assets/img/madam_secretary.jpg"),
        url("../assets/img/play-icon.svg");
}
#criminal_mindsImg {
    background-image: url("../assets/img/criminal_minds.jpg"),
        url("../assets/img/play-icon.svg");
}
#blue_bloods_604Img {
    background-image: url("../assets/img/blue_bloods_604.jpg"),
        url("../assets/img/play-icon.svg");
}
#blue_bloods_808Img {
    background-image: url("../assets/img/blue_bloods_808.jpg"),
        url("../assets/img/play-icon.svg");
}
#blue_bloods_909Img {
    background-image: url("../assets/img/blue_bloods_909.jpg"),
        url("../assets/img/play-icon.svg");
}
#corporateImg {
    background-image: url("../assets/img/corporate.jpg"),
        url("../assets/img/play-icon.svg");
}

.videoTitle {
    font-size: 2rem;
}

.videoImg {
    width: 100%;
    height: 177.75px;
    -webkit-background-size: cover, 10%;
    background-size: cover, 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    -webkit-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    transition-duration: 250ms;
}

.st0 {
    fill: #ffffff;
}

.videoImg svg {
    width: 20%;
}

.open {
    background-image: url("../assets/img/menu-icon.svg");
    -webkit-background-size: 60px 60px;
    background-size: 60px;
    background-position: right, center;
    background-repeat: no-repeat;
    width: 100vw;
}

.profilePic {
    width: 375px;
    height: 375px;
    /*padding-bottom: 60%;*/
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 1em 0;

    background-image: url("../assets/img/heather_cappiello.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.bio {
    font-size: 1.6rem;
    width: 100%;
    max-width: 600px;
    padding: 1em;
    color: #6d6d6d;
}

.agencyAddress {
    color: #adadad;
}

.leftContent,
.rightContent {
    padding: 1em;
    color: initial;
    text-decoration: none;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.rightContent > a {
    text-decoration: none;
    /* margin: 2em; */
}

.leftContent {
    text-align: right;
}

.agency {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 300px;
    text-decoration: none;
    margin: 1em;
}

.agency > .type {
    color: #adadad;
    font-size: 2.5rem;
    line-height: 1.25em;
    text-align: center;
    padding: 1em 0;
}

.agency > a {
    text-decoration: none;
    text-align: left;
}

.agencyContact {
    color: #6d6d6d;
    text-decoration: none;
}

.agencyContact > a {
    color: #6d6d6d;
    text-decoration: underline;
}

.agencyContact > a:hover {
    text-decoration: underline overline;
}

.agencyName {
    color: #000000;
    /* margin-top: 2em; */
}

.agencyNumber {
    color: #adadad;
    text-decoration: none;
}

.agentContainer {
    width: 100%;
    font-size: 1.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.agentContainer > a {
    text-decoration: none;
}

.managers {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.agencyImg {
    width: 260px;
    margin-top: 1em;
    /* margin: 1em 0 2em; */
}

.newsLinksContainer {
    width: 100%;
    padding: 20px 40px;
    /* font-size: 1.75rem; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* TODO - implement this card way */
.news-link {
    color: #000;
    text-decoration: none;
    width: 100%;
    min-width: 320px;
    max-width: 600px;
    /* height: 80px; */
    margin: 20px;

    -webkit-transform: translateY(40px);

    -ms-transform: translateY(40px);

    transform: translateY(40px);
    opacity: 0;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid 1px #000;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.15), 0 6px 10px rgba(0,0,0,0.12); */

    -webkit-animation: lift-in 700ms forwards;

    animation: lift-in 700ms forwards;
    /* border-radius: 8px; */
    overflow: hidden;

    -webkit-transition-duration: 300ms;

    -o-transition-duration: 300ms;

    transition-duration: 300ms;
}

.news-link:hover {
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.12);
}

.news-link:hover > .news-name {
    text-decoration: overline underline;
}

.news-title {
    position: absolute; /*this is the new way */
    /* width: 100%; */
    padding: 0.5em 1em;
    /* this is the new way */
    font-size: 1.5rem;
}

.news-name {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em 0.5em;
    padding-left: -webkit-calc(80px + 1em);
    padding-left: calc(80px + 1em);
    /* margin: 0.5em 1em; */

    font-size: 12px;
    color: #888888;
}

.news-publication {
    position: absolute;
    width: 100%;
    padding: 1.5em 1em;
    font-size: 1.5rem;
    font-style: italic;
}

.news-info {
    /* background: aqua; */
    /* width: calc( 100% - 100px ); */
    height: 100%;
    width: 100%;
    padding-left: 80px;
}

.news-type {
    display: none;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    background: #6d6d6d;
    color: #fff;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    padding: 0.1em 0.75em;
    margin: 0.5em 1em;
    line-height: 17px;
    font-size: 12px;
}

.news-date {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.1em 0.5em;
    margin: 0.5em 1em;

    font-size: 1.2rem;
    color: #888888;
}

.news-icon {
    height: 80px;
    width: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    float: left;
}

.newsLinksContainer .news-link:nth-child(1) {
    -webkit-animation-delay: 000ms;
    animation-delay: 000ms;
}
.newsLinksContainer .news-link:nth-child(2) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.newsLinksContainer .news-link:nth-child(3) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.newsLinksContainer .news-link:nth-child(4) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.newsLinksContainer .news-link:nth-child(5) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.newsLinksContainer .news-link:nth-child(6) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.newsLinksContainer .news-link:nth-child(7) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}
.newsLinksContainer .news-link:nth-child(8) {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}
.newsLinksContainer .news-link:nth-child(9) {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}
.newsLinksContainer .news-link:nth-child(10) {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}

.videoContainer > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalDance {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    -webkit-transition-duration: 300ms;

    -o-transition-duration: 300ms;

    transition-duration: 300ms;
    opacity: 1;
    visibility: visible;
}

.modalBackground {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modalBackground > img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
}

@media screen and (max-width: 1028px) {
    .centralContainer {
        padding: 0;
    }
    .desktop {
        display: none;
        visibility: hidden;
    }
    .mobile {
        display: block;
        visibility: visible;
    }
    .section {
        width: 100%;
        left: 0;
        margin-left: 0;
        background: #fff;
        min-height: -webkit-calc(100vh - 47px);
        min-height: calc(100vh - 47px);
    }
}

@media screen and (max-width: 403px) {
    .profilePic {
        width: -webkit-calc(100vw - 28px);
        width: calc(100vw - 28px);
        height: -webkit-calc(100vw - 28px);
        height: calc(100vw - 28px);
    }
}

@media screen and (max-width: 550px) {
    .news-title {
        font-size: 1.35rem;
    }
}

@-webkit-keyframes lift-in {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes lift-in {
    0% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}